USE [master]
GO
/****** Object:  Database [University]    Script Date: 8/15/2018 9:39:55 AM ******/
CREATE DATABASE [University]
 CONTAINMENT = NONE
ALTER DATABASE [University] SET COMPATIBILITY_LEVEL = 120
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [University].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [University]
GO
USE [University]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 8/15/2018 9:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](255) NOT NULL,
	[Contents] [varchar](255) NOT NULL,
	[CreateDate] [datetime] NULL,
	[Description] [varchar](255) NULL,
	[Image] [varchar](255) NULL,
	[IsActive] [bit] NULL,
	[Title] [varchar](255) NOT NULL,
	[UniversityId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticleTag]    Script Date: 8/15/2018 9:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleTag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArticleId] [int] NULL,
	[MajorUniId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Block]    Script Date: 8/15/2018 9:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Block](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlockName] [varchar](255) NULL,
	[Description] [varchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlockMajorUniversity]    Script Date: 8/15/2018 9:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockMajorUniversity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[BLockId] [int] NOT NULL,
	[MajorUniversityID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlockOfMajor]    Script Date: 8/15/2018 9:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockOfMajor](
	[Id] [int] NOT NULL,
	[isActive] [bit] NULL,
	[BlockId] [int] NULL,
	[MajorId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 8/15/2018 9:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MajorUniversityId] [int] NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMajor]    Script Date: 8/15/2018 9:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMajor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[Name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HighSchool]    Script Date: 8/15/2018 9:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HighSchool](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[LocationId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 8/15/2018 9:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[LocationCode] [varchar](255) NULL,
	[LocationName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Major]    Script Date: 8/15/2018 9:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[MajorName] [nvarchar](255) NOT NULL,
	[GroupMajorId] [int] NULL,
 CONSTRAINT [PK__Major__3214EC07AEDA8058] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MajorMBTI]    Script Date: 8/15/2018 9:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MajorMBTI](
	[Id] [int] NOT NULL,
	[isActive] [bit] NULL,
	[MajorId] [int] NULL,
	[MBTITypeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MajorUniversity]    Script Date: 8/15/2018 9:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MajorUniversity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](255) NULL,
	[isActive] [bit] NULL,
	[NumberOfYear] [float] NULL,
	[Prospects] [varchar](255) NULL,
	[Requirement] [varchar](255) NULL,
	[MajorId] [int] NULL,
	[UniversityId] [int] NULL,
 CONSTRAINT [PK__MajorUni__3214EC07657BF0B8] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MBTIGroup]    Script Date: 8/15/2018 9:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MBTIGroup](
	[Id] [int] NOT NULL,
	[isActive] [bit] NULL,
	[MBTIGroupName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MBTIQuestion]    Script Date: 8/15/2018 9:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MBTIQuestion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](255) NULL,
	[isActive] [bit] NULL,
	[Option1Name] [nvarchar](225) NULL,
	[Option2Name] [nvarchar](225) NULL,
	[QuestionContent] [nvarchar](225) NULL,
	[MBTIGroupId] [int] NULL,
 CONSTRAINT [PK__MBTIQues__3214EC073ADAF15D] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MBTIResult]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MBTIResult](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TestDate] [datetime] NULL,
	[MBTITypeId] [int] NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MBTIType]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MBTIType](
	[Id] [int] NOT NULL,
	[contentType] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[isActive] [bit] NOT NULL,
	[MBTITypeName] [nvarchar](255) NULL,
 CONSTRAINT [PK__MBTIType__3214EC075EC0B771] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[ProviderID] [varchar](255) NOT NULL,
	[ProviderName] [varchar](255) NOT NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProviderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionAnswer]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionAnswer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Contents] [nvarchar](255) NOT NULL,
	[Count] [int] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastUpdatedTime] [datetime] NULL,
	[NumberOfReport] [int] NULL,
	[ParentId] [int] NOT NULL,
	[Status] [bit] NULL,
	[Title] [nvarchar](255) NULL,
	[Type] [int] NOT NULL,
	[Vote] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK__Question__3214EC079CF285B6] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionTag]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionTag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NULL,
	[TagId] [int] NULL,
 CONSTRAINT [PK__Question__3214EC075E2AFE2A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionAnswerId] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK__Report__3214EC073FB48794] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](255) NULL,
	[IsActive] [bit] NULL,
	[IsRecomment] [bit] NULL,
	[StarCare] [int] NULL,
	[StarCareer] [int] NULL,
	[StarFacilities] [int] NULL,
	[StarSocieties] [int] NULL,
	[StarTeaching] [int] NULL,
	[Status] [bit] NULL,
	[Title] [varchar](255) NULL,
	[UniversityId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewAverage]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewAverage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AveRecomment] [float] NOT NULL,
	[AveStarCare] [float] NOT NULL,
	[AveStarCareer] [float] NOT NULL,
	[AveStarFacilities] [float] NOT NULL,
	[AveStarSocieties] [float] NOT NULL,
	[AveStarTeaching] [float] NOT NULL,
	[TotalReview] [int] NOT NULL,
	[UniversityId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewLike]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewLike](
	[Id] [int] NOT NULL,
	[isActive] [bit] NULL,
	[IsLike] [bit] NULL,
	[ReviewId] [int] NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewMajor]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewMajor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[IsRecomment] [bit] NULL,
	[StarCareer] [int] NULL,
	[StarTeaching] [int] NULL,
	[MajorUniId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewMajorAverage]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewMajorAverage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AveRecomment] [float] NOT NULL,
	[AveStarCareer] [float] NOT NULL,
	[AveStarTeaching] [float] NOT NULL,
	[TotalReview] [int] NOT NULL,
	[MajorUniversityId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Name] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScoreHistory]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScoreHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Barem] [int] NULL,
	[Description] [varchar](255) NULL,
	[Score] [float] NULL,
	[Year] [int] NULL,
	[BlockMajorUniId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[TagName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainSystem]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainSystem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Name] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[University]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[University](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](255) NOT NULL,
	[Description] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[Image] [varchar](255) NULL,
	[IsActive] [bit] NULL,
	[Logo] [varchar](255) NULL,
	[Name] [varchar](255) NOT NULL,
	[Phone] [varchar](255) NULL,
	[Priority] [int] NULL,
	[LocationId] [int] NULL,
	[TrainSystemId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](255) NULL,
	[Image] [varchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[Name] [varchar](255) NULL,
	[Password] [varchar](255) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[HighSchoolId] [int] NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vote]    Script Date: 8/15/2018 9:39:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vote](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionAnswerId] [int] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK__Vote__3214EC07D44C77A9] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Article] ON 

INSERT [dbo].[Article] ([Id], [Code], [Contents], [CreateDate], [Description], [Image], [IsActive], [Title], [UniversityId]) VALUES (3, N'AAA', N'ijk', CAST(N'2018-06-06T00:00:00.000' AS DateTime), N'asdr', N'https://s3.amazonaws.com/skinner-production/stories/featured_images/000/025/760/large/news-1.jpg?1522295632', 1, N'sdcs', 3)
INSERT [dbo].[Article] ([Id], [Code], [Contents], [CreateDate], [Description], [Image], [IsActive], [Title], [UniversityId]) VALUES (4, N'BBB', N'dsjvhkxjkvjk', CAST(N'2018-05-05T00:00:00.000' AS DateTime), N'asdjnuf', N'https://s3.amazonaws.com/skinner-production/stories/featured_images/000/025/760/large/news-1.jpg?1522295632', 1, N'czxa', 4)
INSERT [dbo].[Article] ([Id], [Code], [Contents], [CreateDate], [Description], [Image], [IsActive], [Title], [UniversityId]) VALUES (5, N'CCC', N'dwdqwrqwr`', CAST(N'2018-07-07T00:00:00.000' AS DateTime), N'asdxzscxz', N'https://s3.amazonaws.com/skinner-production/stories/featured_images/000/025/760/large/news-1.jpg?1522295632', 1, N'xzcwetw', 5)
SET IDENTITY_INSERT [dbo].[Article] OFF
SET IDENTITY_INSERT [dbo].[ArticleTag] ON 

INSERT [dbo].[ArticleTag] ([Id], [ArticleId], [MajorUniId]) VALUES (12, 3, 1)
INSERT [dbo].[ArticleTag] ([Id], [ArticleId], [MajorUniId]) VALUES (13, 4, 2)
INSERT [dbo].[ArticleTag] ([Id], [ArticleId], [MajorUniId]) VALUES (14, 3, 2)
SET IDENTITY_INSERT [dbo].[ArticleTag] OFF
SET IDENTITY_INSERT [dbo].[Block] ON 

INSERT [dbo].[Block] ([Id], [BlockName], [Description], [IsActive]) VALUES (1, N'Block1', N'zxzxczx', 1)
INSERT [dbo].[Block] ([Id], [BlockName], [Description], [IsActive]) VALUES (2, N'Block2', N'ácdsf', 1)
INSERT [dbo].[Block] ([Id], [BlockName], [Description], [IsActive]) VALUES (3, N'Block3', N'asdasf', 0)
SET IDENTITY_INSERT [dbo].[Block] OFF
SET IDENTITY_INSERT [dbo].[BlockMajorUniversity] ON 

INSERT [dbo].[BlockMajorUniversity] ([Id], [IsActive], [BLockId], [MajorUniversityID]) VALUES (13, 1, 1, 1)
INSERT [dbo].[BlockMajorUniversity] ([Id], [IsActive], [BLockId], [MajorUniversityID]) VALUES (14, 1, 2, 1)
INSERT [dbo].[BlockMajorUniversity] ([Id], [IsActive], [BLockId], [MajorUniversityID]) VALUES (15, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[BlockMajorUniversity] OFF
INSERT [dbo].[BlockOfMajor] ([Id], [isActive], [BlockId], [MajorId]) VALUES (1, 1, 1, 1)
INSERT [dbo].[BlockOfMajor] ([Id], [isActive], [BlockId], [MajorId]) VALUES (2, 1, 1, 2)
INSERT [dbo].[BlockOfMajor] ([Id], [isActive], [BlockId], [MajorId]) VALUES (3, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[Favorite] ON 

INSERT [dbo].[Favorite] ([Id], [MajorUniversityId], [UserId]) VALUES (8, 1, 4)
INSERT [dbo].[Favorite] ([Id], [MajorUniversityId], [UserId]) VALUES (9, 2, 4)
INSERT [dbo].[Favorite] ([Id], [MajorUniversityId], [UserId]) VALUES (10, 3, 4)
SET IDENTITY_INSERT [dbo].[Favorite] OFF
SET IDENTITY_INSERT [dbo].[GroupMajor] ON 

INSERT [dbo].[GroupMajor] ([Id], [IsActive], [Code], [Name]) VALUES (1, 1, N'1', N'GM1')
INSERT [dbo].[GroupMajor] ([Id], [IsActive], [Code], [Name]) VALUES (2, 1, N'2', N'GM2')
INSERT [dbo].[GroupMajor] ([Id], [IsActive], [Code], [Name]) VALUES (3, 0, N'3', N'GM3')
SET IDENTITY_INSERT [dbo].[GroupMajor] OFF
SET IDENTITY_INSERT [dbo].[HighSchool] ON 

INSERT [dbo].[HighSchool] ([Id], [Code], [Name], [LocationId]) VALUES (1, 123, N'NCT', 1)
INSERT [dbo].[HighSchool] ([Id], [Code], [Name], [LocationId]) VALUES (2, 456, N'HHT', 2)
INSERT [dbo].[HighSchool] ([Id], [Code], [Name], [LocationId]) VALUES (3, 789, N'QQQ', 3)
SET IDENTITY_INSERT [dbo].[HighSchool] OFF
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([Id], [IsActive], [LocationCode], [LocationName]) VALUES (1, 1, N'1', N'Location1')
INSERT [dbo].[Location] ([Id], [IsActive], [LocationCode], [LocationName]) VALUES (2, 0, N'2', N'Location2')
INSERT [dbo].[Location] ([Id], [IsActive], [LocationCode], [LocationName]) VALUES (3, 1, N'3', N'Location3')
SET IDENTITY_INSERT [dbo].[Location] OFF
SET IDENTITY_INSERT [dbo].[Major] ON 

INSERT [dbo].[Major] ([Id], [Description], [IsActive], [MajorName], [GroupMajorId]) VALUES (1, N'Major1', 1, N'Kinh Doanh & Quản Lý', 1)
INSERT [dbo].[Major] ([Id], [Description], [IsActive], [MajorName], [GroupMajorId]) VALUES (2, N'Major2', 1, N'Công Nghệ Thông Tin', 2)
INSERT [dbo].[Major] ([Id], [Description], [IsActive], [MajorName], [GroupMajorId]) VALUES (3, N'Major3', 1, N'Y tế và Sức Khỏe', 3)
SET IDENTITY_INSERT [dbo].[Major] OFF
INSERT [dbo].[MajorMBTI] ([Id], [isActive], [MajorId], [MBTITypeID]) VALUES (1, 1, 1, 1)
INSERT [dbo].[MajorMBTI] ([Id], [isActive], [MajorId], [MBTITypeID]) VALUES (2, 1, 2, 1)
INSERT [dbo].[MajorMBTI] ([Id], [isActive], [MajorId], [MBTITypeID]) VALUES (3, 1, 3, 1)
SET IDENTITY_INSERT [dbo].[MajorUniversity] ON 

INSERT [dbo].[MajorUniversity] ([Id], [Description], [isActive], [NumberOfYear], [Prospects], [Requirement], [MajorId], [UniversityId]) VALUES (1, N'MU1', 1, 4, N'1', N'require1', 1, 3)
INSERT [dbo].[MajorUniversity] ([Id], [Description], [isActive], [NumberOfYear], [Prospects], [Requirement], [MajorId], [UniversityId]) VALUES (2, N'MU2', 1, 4, N'1', N'rq2', 1, 3)
INSERT [dbo].[MajorUniversity] ([Id], [Description], [isActive], [NumberOfYear], [Prospects], [Requirement], [MajorId], [UniversityId]) VALUES (3, N'MU3', 1, 3, N'2', N'rq3', 2, 3)
SET IDENTITY_INSERT [dbo].[MajorUniversity] OFF
INSERT [dbo].[MBTIGroup] ([Id], [isActive], [MBTIGroupName]) VALUES (1, 1, N'EI')
INSERT [dbo].[MBTIGroup] ([Id], [isActive], [MBTIGroupName]) VALUES (2, 1, N'SN')
INSERT [dbo].[MBTIGroup] ([Id], [isActive], [MBTIGroupName]) VALUES (3, 1, N'TF')
SET IDENTITY_INSERT [dbo].[MBTIQuestion] ON 

INSERT [dbo].[MBTIQuestion] ([Id], [Code], [isActive], [Option1Name], [Option2Name], [QuestionContent], [MBTIGroupId]) VALUES (1, N'EI1', 1, N'Xã hội , Giao tiếp', N'Thiết kế , ngiên cứu', N'Bạn thích công việc kiểu :', 1)
INSERT [dbo].[MBTIQuestion] ([Id], [Code], [isActive], [Option1Name], [Option2Name], [QuestionContent], [MBTIGroupId]) VALUES (2, N'EI2', 1, N'Khách Quan', N'Chủ Quan', N'Bạn tiếp xúc với một người theo xu hướng :', 1)
INSERT [dbo].[MBTIQuestion] ([Id], [Code], [isActive], [Option1Name], [Option2Name], [QuestionContent], [MBTIGroupId]) VALUES (3, N'EI3', 1, N'Ý nghĩa , giá trị', N'Tính logic', N'Bạn đánh giá sự việc dựa trên :', 1)
SET IDENTITY_INSERT [dbo].[MBTIQuestion] OFF
SET IDENTITY_INSERT [dbo].[MBTIResult] ON 

INSERT [dbo].[MBTIResult] ([Id], [TestDate], [MBTITypeId], [UserId]) VALUES (5, CAST(N'2018-08-14T09:34:41.097' AS DateTime), 15, 10)
SET IDENTITY_INSERT [dbo].[MBTIResult] OFF
INSERT [dbo].[MBTIType] ([Id], [contentType], [Description], [isActive], [MBTITypeName]) VALUES (1, N'Người trách nhiệm', N'type1', 1, N'ISTJ')
INSERT [dbo].[MBTIType] ([Id], [contentType], [Description], [isActive], [MBTITypeName]) VALUES (2, N'Người nuôi dưỡng', N'type2', 1, N'ISFJ ')
INSERT [dbo].[MBTIType] ([Id], [contentType], [Description], [isActive], [MBTITypeName]) VALUES (3, N'Người nghệ sĩ', N'type3', 1, N'ISFP')
INSERT [dbo].[Provider] ([ProviderID], [ProviderName], [UserID]) VALUES (N'1', N'Pro1', 4)
INSERT [dbo].[Provider] ([ProviderID], [ProviderName], [UserID]) VALUES (N'109076235002763469215', N'google', 10)
INSERT [dbo].[Provider] ([ProviderID], [ProviderName], [UserID]) VALUES (N'2', N'Pro2', 5)
SET IDENTITY_INSERT [dbo].[QuestionAnswer] ON 

INSERT [dbo].[QuestionAnswer] ([Id], [Contents], [Count], [CreatedDateTime], [IsActive], [LastUpdatedTime], [NumberOfReport], [ParentId], [Status], [Title], [Type], [Vote], [UserId]) VALUES (1, N'Question1', 0, CAST(N'2018-08-14T00:00:00.000' AS DateTime), 1, CAST(N'2018-08-14T00:00:00.000' AS DateTime), 2, 1, 1, N'title1', 1, 1, 10)
INSERT [dbo].[QuestionAnswer] ([Id], [Contents], [Count], [CreatedDateTime], [IsActive], [LastUpdatedTime], [NumberOfReport], [ParentId], [Status], [Title], [Type], [Vote], [UserId]) VALUES (2, N'Question2', 0, CAST(N'2018-08-14T00:00:00.000' AS DateTime), 1, CAST(N'2018-08-14T00:00:00.000' AS DateTime), 0, 1, 1, N'title2', 1, 1, 10)
INSERT [dbo].[QuestionAnswer] ([Id], [Contents], [Count], [CreatedDateTime], [IsActive], [LastUpdatedTime], [NumberOfReport], [ParentId], [Status], [Title], [Type], [Vote], [UserId]) VALUES (3, N'<p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>', 0, CAST(N'2018-08-14T10:15:25.980' AS DateTime), 1, CAST(N'2018-08-14T10:15:25.980' AS DateTime), 0, 1, 1, N'', 2, 0, 10)
SET IDENTITY_INSERT [dbo].[QuestionAnswer] OFF
SET IDENTITY_INSERT [dbo].[QuestionTag] ON 

INSERT [dbo].[QuestionTag] ([Id], [QuestionId], [TagId]) VALUES (1, 1, 1)
INSERT [dbo].[QuestionTag] ([Id], [QuestionId], [TagId]) VALUES (2, 1, 2)
INSERT [dbo].[QuestionTag] ([Id], [QuestionId], [TagId]) VALUES (3, 2, 2)
SET IDENTITY_INSERT [dbo].[QuestionTag] OFF
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([Id], [QuestionAnswerId], [UserId]) VALUES (1, 1, 10)
INSERT [dbo].[Report] ([Id], [QuestionAnswerId], [UserId]) VALUES (2, 2, 4)
INSERT [dbo].[Report] ([Id], [QuestionAnswerId], [UserId]) VALUES (6, 2, 5)
SET IDENTITY_INSERT [dbo].[Report] OFF
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([Id], [Description], [IsActive], [IsRecomment], [StarCare], [StarCareer], [StarFacilities], [StarSocieties], [StarTeaching], [Status], [Title], [UniversityId], [UserId]) VALUES (2, N'AAA', 1, 1, 1, 1, 1, 1, 1, 1, N'Re1', 3, 4)
INSERT [dbo].[Review] ([Id], [Description], [IsActive], [IsRecomment], [StarCare], [StarCareer], [StarFacilities], [StarSocieties], [StarTeaching], [Status], [Title], [UniversityId], [UserId]) VALUES (3, N'BBB', 0, 1, 2, 2, 2, 2, 2, 1, N'Re2', 4, 5)
INSERT [dbo].[Review] ([Id], [Description], [IsActive], [IsRecomment], [StarCare], [StarCareer], [StarFacilities], [StarSocieties], [StarTeaching], [Status], [Title], [UniversityId], [UserId]) VALUES (4, N'CCC', 1, 0, 3, 3, 3, 3, 3, 1, N'Re3', 5, 6)
SET IDENTITY_INSERT [dbo].[Review] OFF
SET IDENTITY_INSERT [dbo].[ReviewAverage] ON 

INSERT [dbo].[ReviewAverage] ([Id], [AveRecomment], [AveStarCare], [AveStarCareer], [AveStarFacilities], [AveStarSocieties], [AveStarTeaching], [TotalReview], [UniversityId]) VALUES (3, 5, 5, 5, 5, 5, 5, 8, 3)
INSERT [dbo].[ReviewAverage] ([Id], [AveRecomment], [AveStarCare], [AveStarCareer], [AveStarFacilities], [AveStarSocieties], [AveStarTeaching], [TotalReview], [UniversityId]) VALUES (4, 6, 6, 6, 6, 6, 6, 7, 4)
INSERT [dbo].[ReviewAverage] ([Id], [AveRecomment], [AveStarCare], [AveStarCareer], [AveStarFacilities], [AveStarSocieties], [AveStarTeaching], [TotalReview], [UniversityId]) VALUES (5, 7, 8, 7, 4, 5, 8, 9, 5)
SET IDENTITY_INSERT [dbo].[ReviewAverage] OFF
INSERT [dbo].[ReviewLike] ([Id], [isActive], [IsLike], [ReviewId], [UserId]) VALUES (1, 1, 1, 2, 4)
INSERT [dbo].[ReviewLike] ([Id], [isActive], [IsLike], [ReviewId], [UserId]) VALUES (2, 1, 1, 3, 5)
INSERT [dbo].[ReviewLike] ([Id], [isActive], [IsLike], [ReviewId], [UserId]) VALUES (3, 1, 1, 4, 6)
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [IsActive], [Name]) VALUES (1, 1, N'Role1')
INSERT [dbo].[Role] ([Id], [IsActive], [Name]) VALUES (2, 0, N'Role2')
INSERT [dbo].[Role] ([Id], [IsActive], [Name]) VALUES (3, 1, N'Role3')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Tag] ON 

INSERT [dbo].[Tag] ([Id], [IsActive], [TagName]) VALUES (1, 1, N'Tag1')
INSERT [dbo].[Tag] ([Id], [IsActive], [TagName]) VALUES (2, 0, N'Tag2')
INSERT [dbo].[Tag] ([Id], [IsActive], [TagName]) VALUES (3, 1, N'Tag3')
SET IDENTITY_INSERT [dbo].[Tag] OFF
SET IDENTITY_INSERT [dbo].[TrainSystem] ON 

INSERT [dbo].[TrainSystem] ([Id], [IsActive], [Name]) VALUES (1, 1, N'Tran1')
INSERT [dbo].[TrainSystem] ([Id], [IsActive], [Name]) VALUES (2, 0, N'Tran2')
INSERT [dbo].[TrainSystem] ([Id], [IsActive], [Name]) VALUES (3, 1, N'Tran3')
SET IDENTITY_INSERT [dbo].[TrainSystem] OFF
SET IDENTITY_INSERT [dbo].[University] ON 

INSERT [dbo].[University] ([Id], [Code], [Description], [Email], [Image], [IsActive], [Logo], [Name], [Phone], [Priority], [LocationId], [TrainSystemId]) VALUES (3, N'AHN', N'asdasd', N'sdsf', N'https://i2.cdn.turner.com/money/2010/08/30/news/economy/alabama_schools_bank_loans.fortune/lee_high.top.jpg', 0, N'http://niie.edu.vn/wp-content/uploads/2018/05/fpt-768x471.jpg', N'AAAAA', N'4545', 1, 1, 1)
INSERT [dbo].[University] ([Id], [Code], [Description], [Email], [Image], [IsActive], [Logo], [Name], [Phone], [Priority], [LocationId], [TrainSystemId]) VALUES (4, N'ASH', N'sdsgmk', N'zdfmk', N'https://i2.cdn.turner.com/money/2010/08/30/news/economy/alabama_schools_bank_loans.fortune/lee_high.top.jpg', 1, N'http://niie.edu.vn/wp-content/uploads/2018/05/fpt-768x471.jpg', N'sadsdgxcv', N'541021', 2, 2, 2)
INSERT [dbo].[University] ([Id], [Code], [Description], [Email], [Image], [IsActive], [Logo], [Name], [Phone], [Priority], [LocationId], [TrainSystemId]) VALUES (5, N'CKS', N'asvjmmi', N'dikvmim', N'https://i2.cdn.turner.com/money/2010/08/30/news/economy/alabama_schools_bank_loans.fortune/lee_high.top.jpg', 1, N'm,k', N'o,o', N'3545', 3, 3, 3)
SET IDENTITY_INSERT [dbo].[University] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [Image], [IsActive], [Name], [Password], [Username], [HighSchoolId], [RoleID]) VALUES (4, N'asd', N'asd', 1, N'User1', N'123', N'User1', 1, 1)
INSERT [dbo].[Users] ([Id], [Email], [Image], [IsActive], [Name], [Password], [Username], [HighSchoolId], [RoleID]) VALUES (5, N'qwe', N'qwe', 0, N'User2', N'123', N'User2', 2, 2)
INSERT [dbo].[Users] ([Id], [Email], [Image], [IsActive], [Name], [Password], [Username], [HighSchoolId], [RoleID]) VALUES (6, N'zxc', N'zxc', 1, N'User3', N'123', N'User3', 3, 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[Vote] ON 

INSERT [dbo].[Vote] ([Id], [QuestionAnswerId], [UserId]) VALUES (1, 1, 10)
INSERT [dbo].[Vote] ([Id], [QuestionAnswerId], [UserId]) VALUES (2, 2, 5)
INSERT [dbo].[Vote] ([Id], [QuestionAnswerId], [UserId]) VALUES (3, 1, 4)
SET IDENTITY_INSERT [dbo].[Vote] OFF
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FKmo1dhnc1v579su2ots5c9cost] FOREIGN KEY([UniversityId])
REFERENCES [dbo].[University] ([Id])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FKmo1dhnc1v579su2ots5c9cost]
GO
ALTER TABLE [dbo].[ArticleTag]  WITH CHECK ADD  CONSTRAINT [FK9ka23sfw16dlc91doym7teo5a] FOREIGN KEY([MajorUniId])
REFERENCES [dbo].[MajorUniversity] ([Id])
GO
ALTER TABLE [dbo].[ArticleTag] CHECK CONSTRAINT [FK9ka23sfw16dlc91doym7teo5a]
GO
ALTER TABLE [dbo].[ArticleTag]  WITH CHECK ADD  CONSTRAINT [FKdq8n6fx6k0le144monv9fgbmy] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Article] ([Id])
GO
ALTER TABLE [dbo].[ArticleTag] CHECK CONSTRAINT [FKdq8n6fx6k0le144monv9fgbmy]
GO
ALTER TABLE [dbo].[BlockMajorUniversity]  WITH CHECK ADD  CONSTRAINT [FKhbhqrjhc0l8m7frq4bxr5n251] FOREIGN KEY([BLockId])
REFERENCES [dbo].[Block] ([Id])
GO
ALTER TABLE [dbo].[BlockMajorUniversity] CHECK CONSTRAINT [FKhbhqrjhc0l8m7frq4bxr5n251]
GO
ALTER TABLE [dbo].[BlockMajorUniversity]  WITH CHECK ADD  CONSTRAINT [FKtojafyp8ffurwafroqvpayfs1] FOREIGN KEY([MajorUniversityID])
REFERENCES [dbo].[MajorUniversity] ([Id])
GO
ALTER TABLE [dbo].[BlockMajorUniversity] CHECK CONSTRAINT [FKtojafyp8ffurwafroqvpayfs1]
GO
ALTER TABLE [dbo].[BlockOfMajor]  WITH CHECK ADD  CONSTRAINT [FK1br58v5jstrt3eud31a8sgyv8] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Major] ([Id])
GO
ALTER TABLE [dbo].[BlockOfMajor] CHECK CONSTRAINT [FK1br58v5jstrt3eud31a8sgyv8]
GO
ALTER TABLE [dbo].[BlockOfMajor]  WITH CHECK ADD  CONSTRAINT [FK6299ybajyhmtj4yp4jhirv5vp] FOREIGN KEY([BlockId])
REFERENCES [dbo].[Block] ([Id])
GO
ALTER TABLE [dbo].[BlockOfMajor] CHECK CONSTRAINT [FK6299ybajyhmtj4yp4jhirv5vp]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FKn090x5xhb8gjl7s1eui9kvm3e] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FKn090x5xhb8gjl7s1eui9kvm3e]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD  CONSTRAINT [FKrk3rqr7t04vdm17ju5otuaqkm] FOREIGN KEY([MajorUniversityId])
REFERENCES [dbo].[MajorUniversity] ([Id])
GO
ALTER TABLE [dbo].[Favorite] CHECK CONSTRAINT [FKrk3rqr7t04vdm17ju5otuaqkm]
GO
ALTER TABLE [dbo].[HighSchool]  WITH CHECK ADD  CONSTRAINT [FKq9c7st28dl5vc2glkws50ftnd] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[HighSchool] CHECK CONSTRAINT [FKq9c7st28dl5vc2glkws50ftnd]
GO
ALTER TABLE [dbo].[Major]  WITH CHECK ADD  CONSTRAINT [FKd1k67uuvuf846cy3j3h21x8j6] FOREIGN KEY([GroupMajorId])
REFERENCES [dbo].[GroupMajor] ([Id])
GO
ALTER TABLE [dbo].[Major] CHECK CONSTRAINT [FKd1k67uuvuf846cy3j3h21x8j6]
GO
ALTER TABLE [dbo].[MajorMBTI]  WITH CHECK ADD  CONSTRAINT [FK4nmrhriaxyb2tgew75sxks0hd] FOREIGN KEY([MBTITypeID])
REFERENCES [dbo].[MBTIType] ([Id])
GO
ALTER TABLE [dbo].[MajorMBTI] CHECK CONSTRAINT [FK4nmrhriaxyb2tgew75sxks0hd]
GO
ALTER TABLE [dbo].[MajorMBTI]  WITH CHECK ADD  CONSTRAINT [FKgr0avqnjr6p63sybqdmdk0wtj] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Major] ([Id])
GO
ALTER TABLE [dbo].[MajorMBTI] CHECK CONSTRAINT [FKgr0avqnjr6p63sybqdmdk0wtj]
GO
ALTER TABLE [dbo].[MajorUniversity]  WITH CHECK ADD  CONSTRAINT [FK8m1odgweofkd7qwuarrxebbw1] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Major] ([Id])
GO
ALTER TABLE [dbo].[MajorUniversity] CHECK CONSTRAINT [FK8m1odgweofkd7qwuarrxebbw1]
GO
ALTER TABLE [dbo].[MajorUniversity]  WITH CHECK ADD  CONSTRAINT [FKbkd2o6cpws7ic9c1jh0rswmau] FOREIGN KEY([UniversityId])
REFERENCES [dbo].[University] ([Id])
GO
ALTER TABLE [dbo].[MajorUniversity] CHECK CONSTRAINT [FKbkd2o6cpws7ic9c1jh0rswmau]
GO
ALTER TABLE [dbo].[MBTIQuestion]  WITH CHECK ADD  CONSTRAINT [FKbhjyj7pvdleatj5obvgcrieej] FOREIGN KEY([MBTIGroupId])
REFERENCES [dbo].[MBTIGroup] ([Id])
GO
ALTER TABLE [dbo].[MBTIQuestion] CHECK CONSTRAINT [FKbhjyj7pvdleatj5obvgcrieej]
GO
ALTER TABLE [dbo].[MBTIResult]  WITH CHECK ADD  CONSTRAINT [FKf5ct0yodcuw19w5fq28f0wlt2] FOREIGN KEY([MBTITypeId])
REFERENCES [dbo].[MBTIType] ([Id])
GO
ALTER TABLE [dbo].[MBTIResult] CHECK CONSTRAINT [FKf5ct0yodcuw19w5fq28f0wlt2]
GO
ALTER TABLE [dbo].[MBTIResult]  WITH CHECK ADD  CONSTRAINT [FKt1apxjg9kdox0a5f46xeyx825] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[MBTIResult] CHECK CONSTRAINT [FKt1apxjg9kdox0a5f46xeyx825]
GO
ALTER TABLE [dbo].[Provider]  WITH CHECK ADD  CONSTRAINT [FK3fhul5218f9fp2f1i6g6idl8h] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Provider] CHECK CONSTRAINT [FK3fhul5218f9fp2f1i6g6idl8h]
GO
ALTER TABLE [dbo].[QuestionAnswer]  WITH CHECK ADD  CONSTRAINT [FKjfkby03ajnm4toegfys3b9qh5] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[QuestionAnswer] CHECK CONSTRAINT [FKjfkby03ajnm4toegfys3b9qh5]
GO
ALTER TABLE [dbo].[QuestionTag]  WITH CHECK ADD  CONSTRAINT [FKepwb69i433v9ha83p0a1qegq6] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[QuestionAnswer] ([Id])
GO
ALTER TABLE [dbo].[QuestionTag] CHECK CONSTRAINT [FKepwb69i433v9ha83p0a1qegq6]
GO
ALTER TABLE [dbo].[QuestionTag]  WITH CHECK ADD  CONSTRAINT [FKgjcx4rtx7ntjf6qaw9yeo0gu1] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([Id])
GO
ALTER TABLE [dbo].[QuestionTag] CHECK CONSTRAINT [FKgjcx4rtx7ntjf6qaw9yeo0gu1]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK6stiy9qma5dhj7yyp29j3dl92] FOREIGN KEY([QuestionAnswerId])
REFERENCES [dbo].[QuestionAnswer] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK6stiy9qma5dhj7yyp29j3dl92]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FKafq3uyf4n6qvyrlfkps203sph] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FKafq3uyf4n6qvyrlfkps203sph]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK8pn6ya44x8djuydyd0rneqegj] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK8pn6ya44x8djuydyd0rneqegj]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FKtl3frq5v4i0xhnif76ocdhr7n] FOREIGN KEY([UniversityId])
REFERENCES [dbo].[University] ([Id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FKtl3frq5v4i0xhnif76ocdhr7n]
GO
ALTER TABLE [dbo].[ReviewAverage]  WITH CHECK ADD  CONSTRAINT [FKpq3fl1jnw5ceyshe8no8qqh2m] FOREIGN KEY([UniversityId])
REFERENCES [dbo].[University] ([Id])
GO
ALTER TABLE [dbo].[ReviewAverage] CHECK CONSTRAINT [FKpq3fl1jnw5ceyshe8no8qqh2m]
GO
ALTER TABLE [dbo].[ReviewLike]  WITH CHECK ADD  CONSTRAINT [FKd8sc25trge36yo9ik5ie59jq3] FOREIGN KEY([ReviewId])
REFERENCES [dbo].[Review] ([Id])
GO
ALTER TABLE [dbo].[ReviewLike] CHECK CONSTRAINT [FKd8sc25trge36yo9ik5ie59jq3]
GO
ALTER TABLE [dbo].[ReviewLike]  WITH CHECK ADD  CONSTRAINT [FKeubxp6h29d4320thm5qyx4n5s] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ReviewLike] CHECK CONSTRAINT [FKeubxp6h29d4320thm5qyx4n5s]
GO
ALTER TABLE [dbo].[ReviewMajor]  WITH CHECK ADD  CONSTRAINT [FK6baw6a2vct3nk5n44ei4hqc7y] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ReviewMajor] CHECK CONSTRAINT [FK6baw6a2vct3nk5n44ei4hqc7y]
GO
ALTER TABLE [dbo].[ReviewMajor]  WITH CHECK ADD  CONSTRAINT [FKqlb1pm06xd6qxk44yat07najk] FOREIGN KEY([MajorUniId])
REFERENCES [dbo].[MajorUniversity] ([Id])
GO
ALTER TABLE [dbo].[ReviewMajor] CHECK CONSTRAINT [FKqlb1pm06xd6qxk44yat07najk]
GO
ALTER TABLE [dbo].[ReviewMajorAverage]  WITH CHECK ADD  CONSTRAINT [FKd7safbn153e348e7ejgpnxw1u] FOREIGN KEY([MajorUniversityId])
REFERENCES [dbo].[MajorUniversity] ([Id])
GO
ALTER TABLE [dbo].[ReviewMajorAverage] CHECK CONSTRAINT [FKd7safbn153e348e7ejgpnxw1u]
GO
ALTER TABLE [dbo].[ScoreHistory]  WITH CHECK ADD  CONSTRAINT [FK853e6si7uyli7aremfcdx0c1k] FOREIGN KEY([BlockMajorUniId])
REFERENCES [dbo].[BlockMajorUniversity] ([Id])
GO
ALTER TABLE [dbo].[ScoreHistory] CHECK CONSTRAINT [FK853e6si7uyli7aremfcdx0c1k]
GO
ALTER TABLE [dbo].[University]  WITH CHECK ADD  CONSTRAINT [FK8yht6iofa42oox0qod4x8eocr] FOREIGN KEY([TrainSystemId])
REFERENCES [dbo].[TrainSystem] ([Id])
GO
ALTER TABLE [dbo].[University] CHECK CONSTRAINT [FK8yht6iofa42oox0qod4x8eocr]
GO
ALTER TABLE [dbo].[University]  WITH CHECK ADD  CONSTRAINT [FKscy503mjibxor51f669y23vai] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([Id])
GO
ALTER TABLE [dbo].[University] CHECK CONSTRAINT [FKscy503mjibxor51f669y23vai]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK98ltbnnq69up18kfeilxjkhck] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK98ltbnnq69up18kfeilxjkhck]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FKgqe15n3e71m26d2s97cfayxf6] FOREIGN KEY([HighSchoolId])
REFERENCES [dbo].[HighSchool] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FKgqe15n3e71m26d2s97cfayxf6]
GO
ALTER TABLE [dbo].[Vote]  WITH CHECK ADD  CONSTRAINT [FKodekqw2k07fh1e516bgu9s9s4] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Vote] CHECK CONSTRAINT [FKodekqw2k07fh1e516bgu9s9s4]
GO
ALTER TABLE [dbo].[Vote]  WITH CHECK ADD  CONSTRAINT [FKp31ymwpob4v1c2prdu5281elp] FOREIGN KEY([QuestionAnswerId])
REFERENCES [dbo].[QuestionAnswer] ([Id])
GO
ALTER TABLE [dbo].[Vote] CHECK CONSTRAINT [FKp31ymwpob4v1c2prdu5281elp]
GO
USE [master]
GO
