<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.password">thdb010708</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=University</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.unistart.entities.Block" />
        <mapping class="com.unistart.entities.BlockMajorUniversity" />
        <mapping class="com.unistart.entities.University" />
        <mapping class="com.unistart.entities.Mbtitype" />
        <mapping class="com.unistart.entities.MajorUniversity" />
        <mapping class="com.unistart.entities.Mbtiquestion" />
        <mapping class="com.unistart.entities.BlockOfMajor" />
        <mapping class="com.unistart.entities.Users" />
        <mapping class="com.unistart.entities.Review" />
        <mapping class="com.unistart.entities.ScoreHistory" />
        <mapping class="com.unistart.entities.MajorMbti" />
        <mapping class="com.unistart.entities.Provider" />
        <mapping class="com.unistart.entities.Location" />
        <mapping class="com.unistart.entities.Major" />
        <mapping class="com.unistart.entities.ReviewLike" />
        <mapping class="com.unistart.entities.Mbtigroup" />
        <mapping class="com.unistart.entities.Mbtiresult" />
        <mapping class="com.unistart.entities.Sysdiagrams" />
        <mapping class="com.unistart.entities.Role" />
    </session-factory>
</hibernate-configuration>
